<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body>
    <%- include("../parts/header") %>
    <%- include("../parts/footer") %>
    </body>
</html>