

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Happy-Granny</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ITL_ONAT">
    <meta name="description" content="Ми допоможемо підібрати найвигіднішу гречку для студентів і бабусь!">
    <meta name="keywords" content="Гречка, греча, можно гречку?, много гречки, вложения в гречку">
    <link href="static/css/main.css" rel="stylesheet"></link>
    <link rel="icon" href="static/images/icon.png" type="image/png">
    <!-- Bootstrap 5 -->
    <link href="static/libs/bootstrap5/css/bootstrap.min.css.map" rel="stylesheet"></link>
    <link href="static/libs/bootstrap5/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Header -->
    <link rel="stylesheet" href="static/css/header.css">
    <!-- block best-choise -->
    <link rel="stylesheet" href="static/css/bestChoise.css">
</head>
<body>
    <%- include('../parts/header') %>
    <div class="container">
        <div class="row">
            <div class="bestChoise-header col-sm-12 d-flex justify-content-center">
                Краще для Вас
            </div>

            <div class="bestChoise-switcher col-md-4 col-sm-5 col-lg-3 align-items-center">
                <div class="swither to-btn" data-sort="lowerPrice">
                    Найнижча ціна
                </div>
                <div class="swither swither-active to-btn" data-sort="best">
                    Краща ціна/вага
                </div>
                <div class="swither to-btn" data-sort="biggestWeight">
                    Найбільша вага
                </div>

                <hr>

                <div class="chart d-flex" id="price-chart"></div>
            </div>

            <div class="bestChoise-main col-sm-7 col-md-8 col-lg-9 d-flex align-items-center"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <hr>

            <div class="catalog-header-text col-sm-4">
                <aside class="catalog_name">Каталог</aside>
                <div class="aside_menu">
                    <aside class="catalog catalog-weight">
        
                        <p class="category_name">Вага</p>
        
                        <label class="check_label">
                            100 g
                            <input type="number" name="check_weight1" value="100">
                        </label>
        
                        <label class="check_label">
                            <input type="checkbox" name="check_weight2" value="250"> 250 g
                        </label>

                    </aside>
        
                    <aside class="catalog">
        
                        <p class="category_name">Ціна</p>

                        <form action="">
                            <label class="price_label" for="min_price">Мінімальна: </label>
                            <input class="dropdown_input" type="number" value="" id="min_price" name="min_price"><br><br>
                            <label class="price_label" for="max_price">Максимальна:</label>
                            <input class="dropdown_input" type="number" id="max_price" name="max_price"><br><br>
                            <input type="submit" value="Шукати">
                        </form>


        
                    </aside>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="d-flex justify-content-between">
                    <div class="sort"></div>
                    <form action="">
                        <label for="choose_good" class="label_dropdown">Оберіть категорію:</label>
                        <select name="choose_good" id="choose_good">
                            <option value="love">Гречана крупа</option>
                            <option value="">Морозиво</option>
                            <option value="">Хлібці</option>
                            <option value="">Ковбаса</option>
                            <option value="">Бринза</option>
                            <option value="">Мінеральна вода</option>
                            <option value="">Жувальна гумка</option>
                            <option value="">Цукерки</option>
                        </select>
                    </form>
                </div>

                <div class="grid-wrpper products-wrapper"></div>
            </div>
        </div>
    </div>
    <%- include('../parts/footer') %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../../static/js/Product.js"></script>
    <script src="../../static/js/main.js"></script>
</body>
</html>