.bestChoise-header {
    margin-top: 3rem;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0em;
    text-align: left;
    color: #E52327;
    animation: pulse 2s infinite alternate-reverse;
}

.bestChoise-switcher {
    line-height: 2rem;
}

.bestChoise-switcher > .swither {
    border: solid red 2px;
    border-right: solid red 1rem;
    margin-top: 1rem;
    padding-left: 2rem;
}

.chart {
    height: 8rem;
    width: 100%;
    background-color: rgb(162, 162, 162);
}

.bestChoise-main {
    height: 100%;
    padding-top: 25px;
}

.bestChoise-main > div {
    height: 100%;
}

.bestChoise-main > .description > .cost {
    line-height: 4rem;
    font-style: normal;
    font-weight: bold;
}

.bestChoise-main > .description > .cost > .hrn {
    color:red;
    font-size: 3rem;
}

.bestChoise-main > .description > .cost > .coin {
    color:red;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.bestChoise-main > .description > .cost > .product-weight {
    margin-left: auto;
}

.product-img{
    width: 250px;
    object-fit: contain;
    height: 250px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: .5s;
}
.product-img:hover{
    transform: scale(1.05);
}

.icon > img{
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.bestChoise-main > .description > .m-bottom_0 > :first-child {
    margin-bottom: 0;
    line-height: 0.8rem;
}


.bestChoise-main > .description > .nazva-saller {
    justify-content:space-between;
    line-height: 0.8rem;
}

.bestChoise-main > .description > .nazva-saller > p {
    margin-bottom: 0 !important;
}

.bestChoise-main > .description > .nazva-saller-names {
    justify-content:space-between;
    margin-bottom: 0;
    line-height: 0.8rem;
}

.catalog-header-text > div {
    width: 100%;
    background-color: red;
}

/* FIRST SORT weight */
.catalog-sort {
    border: solid black 1px;
    padding: 1rem;
}
/* END: FIRST SORT weight */


.grid-wrpper {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;

}

.grid-wrpper > div > :nth-child(2){
    font-size: 0.7rem;
    font-weight: bold;
    height: 50px;
    padding-top: 15px;
    text-align: center;
}

.product{
    cursor: pointer;
    transition: .5s;
}
.product:hover{
    transform: scale(1.02);
}

.grid-wrpper > div > .cost > .hrn {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
    color:red;
    font-weight: bold;
}

.grid-wrpper > div > .cost > .coin {
    font-size: .8rem;
    line-height: 1.3rem;
    margin-bottom: 0;
    color:red;
    font-weight: bold;
}

.grid-wrpper > div > .cost > .product-weight {
    font-size: .8rem;
    line-height: 2rem;
    margin-bottom: 0;
    font-weight: bold;
    margin-left: auto;
}

footer {
    background-color: #E52327;
    height: 4rem;
}

footer > .container > .row {
    height: 4rem;
}

footer > .container > .row > p {
    line-height: 4rem;
    color: white;
}

@keyframes pulse{
    100%{
        transform: scale(1.05);
    }
}