*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: #f6f6f6;
}
h1{
    text-align: center;
}

main{
    max-width: 1280px;
}
.catalog{
    width:150px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

/*.catalog1{*/
/*    display: flex;*/
/*    padding: 10px;*/
/*    justify-content: space-between;*/
/*    flex-direction: column;*/
/*    border: 1px solid rgba(0, 0, 0, 0.1);*/
/*    margin: 1%;*/
/*    width: 12%;*/
/*    height: 15%;*/
/*}*/
/*.catalog2{*/
/*    display: flex;*/
/*    padding: 10px;*/
/*    justify-content: space-around;*/
/*    flex-direction: column;*/
/*    border: 1px solid rgba(0, 0, 0, 0.1);*/
/*    margin: 1%;*/
/*    width: 12%;*/
/*    height: 15%;*/
/*}*/
.catalog_name{
    text-align: center;
    width:150px;
    padding:1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #F8F5F2;
    background: #E52327;
    font-size: 20px;
    line-height: 24px;
}

.category_name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 4px;
    text-decoration-line: underline;

    color: #E52327;
}
.check_label{

    padding:4px;
}
.price_label{

    font-weight: bold;
}
.dropdown_input{
    width:130px;
}
.goods{
    display: flex;
    justify-content: center;
}
.aside_menu{
    float:left;
}
.label_dropdown{
    font-weight: bold;
}