*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
}

.global{
    margin-left:15%
}
.catalog{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1%;
    width: 12%;
    float: left;
    height: 15%;
}
.catalog_name{
    display: inline-block;
    width:15%;
    padding:1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #F8F5F2;
    background: #E52327;
}